name: Crypto | Details

# Controls when the workflow will run
on:
  # Triggers the workflow on schedule
  schedule:
    - cron:  '0 3 1 * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:          
  update:
    name: Get Crypto Details
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          github_token: ${{ secrets.datascience }}
      - name: Build the data and create local changes
        uses: actions/setup-python@v1
        with:
          python-version: '3.9.10'
          architecture: x64
      - run: |
          pip install -r scripts/requirements.txt
          python scripts/currencies/crypto-details.py
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit --allow-empty -m "Auto-update of the data packages" -a
          git push
        env:
          REPO_KEY: ${{secrets.datascience}}
